
/*main-placeholder-list*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.placeholder {
    background-color: $listitembackgroundcolor;
    width: 500px;
    height: 60px;
    display: flex;
    align-items: center;
    border: $listborder;   
}

.placeholder__arrowdown {
    background-color: $listitembackgroundcolor;
    height: 10px;
    margin-right: 35px;
    margin-left: 20px;;
    display: flex;
    justify-content: flex-start;
}
input {
    border: none;
}



.list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 500px;
}


.list__listitem {
    display: flex;
    justify-content: flex-start;
    border: $listborder;
    background-color: $listitembackgroundcolor;
    overflow: hidden;
}
.list__product {
    margin-left: 10px;
    width: 400px;
    overflow: hidden;
}
.list__button {
    height: 35px;
    margin-top: 10px;
    margin-left: 3px;
}

#redcross {
    margin-left: auto;
    height: 10px;
    margin-top: 20px;
    margin-right: 20px;
}

.itemsleft {
    background-color: $listitembackgroundcolor;
    width: 500px;
    height: 30px;
    border: $listborder;
    font-size: 10px;
    padding: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.2),
                0 8px 0 -3px #f6f6f6,
                0 9px 1px -3px rgba(0,0,0,.2),
                0 16px 0 -6px #f6f6f6,
                0 17px 2px -6px rgba(0,0,0,.2)     
}

.itemsleft__left {
    margin-left: 15px;   
}

/* checkbox */
.list__checkbox {

    display: block;
    position: relative;
    height: 25px;
    width: 25px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 10px;
  
  }
  
  .list__checkbox input {
    display: none;
  }

  .list__checkbox + .list__hack:after {
      content: '';
      width: 30px;
      height: 30px;
  } 


  .list__hack {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      height: 30px;
  }

.list__checkbox input:checked + .list__hack:after {
    content: '\2713';
    color: green;
    font-size: 30px;
}

/* delete btn */
.list__btn {
    margin-left: auto;
    margin-top: 20px;
    margin-right: 10px;
}

.list__btn__delete {
    background-color: transparent;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.list__btn__delete:hover {
    background-image: url("cancel.svg");
    transform: 5s;
}


    
