
body {
    background-color:#f5f5f5;
    font-size:16px;
    font-family: 'Heebo', sans-serif;
    border-left: 40px;
}

h1 {
    font-size: 6.25rem;
    text-align: center;
    color: #af2f2f;
}

div {
    padding: 20px;

}

.li__placeholder {
    background-color: #ffffff;
    border: solid #ededed;
    margin-left: 40px;
    display: flex;
    justify-content: center;



}

li {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    color: #4d4d4d;
    border: solid #ededed;
}

.redcross {
    


}