/*header incl. h1*/

$listitembackgroundcolor: #ffffff;
$listborder: solid #ededed 1px;
$bodycolor: #f5f5f5;
$fontfamily: 'Heebo', sans-serif;
$h1color: #af2f2f;

body {
    background-color: $bodycolor;
    font-size:16px;
    font-family: $fontfamily;   
}

.title {
    font-size: 6.25rem;
    text-align: center;
    color: $h1color;
}

/*placeholder and list__listitem*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.placeholder {
    background-color: $listitembackgroundcolor;
    margin-left: 38px;
    width: 500px;
    height: 60px;
    display: flex;
    align-items: center;
    border: $listborder;   
}
.placeholder__arrowdown {
    background-color: $listitembackgroundcolor;
    height: 10px;
    margin-right: 35px;
    margin-left: 20px;;
    display: flex;
    justify-content: flex-start;
}
input {
    border: none;
}


.list {
    margin-top: 2px;
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
    width: 500px;
}


li.list__listitem {
    display: flex;
    justify-content: center;
    border: $listborder;
    background-color: $listitembackgroundcolor;
}
.list__product {
    margin-left: 25px;
}
.list__button {
    height: 35px;
    margin-top: 10px;
    margin-left: 3px;
}
#redcross {
    margin-left: auto;
    height: 10px;
    margin-top: 20px;
    margin-right: 20px;
}

.itemsleft {
    background-color: $listitembackgroundcolor;
    margin-left: 38px;
    margin-top: 1px;
    width: 500px;
    height: 30px;
    border: $listborder;
    font-size: 10px;
}

.itemsleft__left {
    margin-left: 15px;
}
